.inputnum h6{
    margin-left: 15px;
    width: fit-content;
}
.inputnum input{
    width: 70%;
    margin-left: 15px;
    border-radius: 5px;
}

.inputnum{
    padding-bottom: 15px;
}

.display1 input{
    width: 70%;
    height: 45px;
    margin-left: 17%;
    margin-bottom: 15px;
}
.display1 input{
    background-color: rgb(221, 255, 245);
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    font-weight: 900;
}
.cal{
    width: 150px;
    height: 50px;
    
}
.cal button{
    border-radius: 5px;
    background-color: rgb(237, 157, 157);
    font-size: larger;
    font-weight: 700;
}
.headb a{
    margin-top: 15px;
    width: fit-content
}
.headb button{
    border: 0px;
    border-radius: 5px;
    width: auto;
    height: auto;
    margin-left: 20px;
    font-weight: 700;
}
.headb{
    
    padding-left: 12%;

}
.headb p{
   
}
